.App {
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value to set the container height */
  margin-top: 10px; /* Adjust the margin as needed */

  margin-top: 10px; /* Adjust the margin as needed */
 
}


/* Customize the button style */
.main>button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4CAF50; /* Green background color */
  color: white; /* Text color */
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add hover effect */
.main>button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Add a subtle shadow */
.main>button:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Make the button full-width on mobile devices */
@media screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}

.main>button {
  /* Add your button styles here */
  margin: 10px  20px; /* Adjust the margin as needed */
}
